/*
  Bourbon documentation: http://bourbon.io/docs/
 */
/* _____ FONTS _____ */
/* _____ ICONS _____ */
/* _____ MIXINS _____ */
/* _____ NORMALIZE _____ */
body {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: scrollbar;
  /* Hack to force all relatively and absolutely positioned elements still render while scrolling
     Note: This is a bug for "-webkit-overflow-scrolling: touch" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body > * {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px); }

*,
:after,
:before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

svg ellipse,
svg line,
svg path,
svg polygon,
svg polyline,
svg rect {
  shape-rendering: geometricprecision; }

@media print {
  svg path {
    fill: #000 !important; } }

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
li:empty,
ol:empty,
p:empty,
ul:empty {
  display: none; }

/* _____ STATES _____ */
.is-hidden {
  display: none; }

/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ BASIC STYLES _____ */
body,
html {
  position: relative; }

html {
  font-size: 62.5%; }

body * {
  -webkit-text-size-adjust: none; }

*::selection {
  /* WebKit/Blink Browsers */
  background: blue;
  color: #fff; }

*::-moz-selection {
  /* Gecko Browsers */
  background: blue;
  color: #fff; }

/*
  This directory defines the basic building blocks of the website, including paragraphs, tables, images and links.
  Therefore, this directory should focus only on default HTML elements. These components are called quarks, and they are only basic HTML tags (without classes or IDs).
*/
/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ ANCHORS _____ */
a {
  cursor: pointer;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: none; }

/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ HEADINGS _____ */
h1 {
  color: #000;
  font-size: 4.3rem; }

h2 {
  color: #000;
  font-size: 2.4rem; }

h3 {
  color: #000; }

h4 {
  color: #000; }

/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ HEADINGS _____ */
li {
  font-size: 1.8rem; }

/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ PARAGRAPHS _____ */
p {
  font-size: 1.6rem; }

/* _____ VARIABLES _____ */
/*
Syntax for sets:
---------------------------------------
$type-colour-200: #; // Lightest value
$type-colour-300: #;
$type-colour-400: #;
$type-colour: #;     // Normal value (500)
$type-colour-600: #;
$type-colour-700: #;
$type-colour-800: #; // Darkest value
----------------------------------------
*/
/* _____ SECTION _____ */
