/* _____ BASIC STYLES _____ */

// This file contains generic rules and the basic styling.
// Don't use IDs or classes here (pseudoclasses are allowed).

body,
html {
    position: relative;
}

html {
    font: {
        size: 62.5%;
    }
}

body {
    font: {
        family: $font-cabin;
    }
}

// Style text selection foreground and background color
*::selection {
    /* WebKit/Blink Browsers */
    background: $color-red-primary;
    color     : $color-white-primary;
}

*::-moz-selection {
    /* Gecko Browsers */
    background: $color-red-primary;
    color     : $color-white-primary;
}
