@import './1-tools/variables';
@import './1-tools/mixins';

/* _____ FILTER _____ */

// Component variables
$m-filter-background: $color-blue-light-primary;
$m-filter-padding: 2.5rem;

.m-filter {
    background: $m-filter-background;
    padding   : $m-filter-padding;
}
