@import './1-tools/mixins';
@import './1-tools/variables';

/* _____ CHECKBOX _____ */

// Component variables
$a-checkbox--primary-checked-label-padding-left: 2rem;
$a-checkbox--primary-width: 1.4rem;
$a-checkbox--primary-height: 1.4rem;
$a-checkbox--primary-background: #fff;
$a-checkbox--primary-transition: $transition-default;
$a-checkbox--primary-font-size: 3rem;
$a-checkbox--primary-box-shadow: $box-shadow-secondary;
$a-checkbox--primary-after-position-left: .2rem;
$a-checkbox--primary-after-position-top: .2rem;
$a-checkbox--primary-after-width: 1rem;
$a-checkbox--primary-after-height: 1rem;
$a-checkbox--primary-after-background: $color-red-primary;

.a-checkbox {
    &--primary {
        box-shadow: $a-checkbox--primary-box-shadow;

        &:checked,
        &:not(:checked) {
            position: absolute;
            left    : -9999px;
        }

        &:checked + label,
        &:not(:checked) + label {
            position    : relative;
            padding-left: $a-checkbox--primary-checked-label-padding-left;
            cursor      : pointer;
        }

        /* checkbox aspect */
        &:checked + label:before,
        &:not(:checked) + label:before {
            content   : '';
            position  : absolute;
            left      : 0;
            top       : 0;
            width     : $a-checkbox--primary-width;
            height    : $a-checkbox--primary-height;
            background: $a-checkbox--primary-background;
            box-shadow: $a-checkbox--primary-box-shadow;
        }
        /* checked mark aspect */
        &:checked + label:after,
        &:not(:checked) + label:after {
            content   : '';
            position  : absolute;
            left      : $a-checkbox--primary-after-position-left;
            top       : $a-checkbox--primary-after-position-top;
            width     : $a-checkbox--primary-after-width;
            height    : $a-checkbox--primary-after-height;
            background: $a-checkbox--primary-after-background;
            transition: $a-checkbox--primary-transition;
            @include flex-container(center, center, row, wrap);
        }
        /* checked mark aspect changes */
        &:not(:checked) + label:after {
            opacity  : 0;
            transform: scale(0);
        }

        &:checked + label:after {
            opacity  : 1;
            transform: scale(1);
        }
    }
}
