/* _____ FILTER _____ */

// Component variables
$m-filter-background: $color-blue-light-primary;        //#3498db
$m-filter-padding: 2.5rem;

$m-filter__checkbox-container-margin: 0 0 0 2.5rem;

$m-filter__btn-container-margin: 1.25rem 0 0;
$m-filter__btn-container-text-align: center;
.m-filter {
    //...

    //&__checkbox-container
    //&__btn-container
}
