/* _____ FORMS _____ */

// Component variables
$m-form-max-width: 108rem;

$m-form__fieldset-margin: 0 0 1.25rem;

.m-form {
    max-width: $m-form-max-width;
    margin   : 0 auto;

    &__fieldset {
        border     : none;
        line-height: 0;
        margin     : $m-form__fieldset-margin;

        &--align-right {
            text-align: right;
        }
    }
}
