@import './1-tools/variables';
@import './1-tools/mixins';

/* _____ ITEM _____ */

// Component variables
$m-item-padding: 2.5rem 1.25rem 0;

$m-item__tilter-perspective: 100rem;

$m-item__container-transition: transform 100ms ease-out, box-shadow 300ms ease-in-out;
$m-item__container-children-transition: $transition-transform;
$m-item__container-background: #fff;
$m-item__container-border-color: $color-blue-light-primary;
$m-item__container-box-shadow: $box-shadow-large;

$m-item__deco-background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);

$m-item__content-padding: 1.25rem;
$m-item__content-z-index: 200;

.m-item {
    padding : $m-item-padding;
    position: relative;

    &__container {
        position  : relative;
        transition: $m-item__container-transition;
        background: $m-item__container-background;
        border    : .1rem solid $m-item__container-border-color;

        & * {
            transition: $m-item__container-children-transition;
            @include transform(translateZ(0px));
        }
    }

    &__img-container {
        line-height: 0;
        display    : block;
        position   : relative;
    }

    &__cover {
        position: relative;
        top     : -0.1rem;
        left    : -0.1rem;
        width   : calc(100% + .2rem);
    }

    &__deco {
        position  : absolute;
        top       : 0;
        left      : 0;
        width     : 100%;
        height    : 100%;
        overflow  : hidden;
        opacity   : 0;
        visibility: hidden;
        display   : none;

        div {
            position        : absolute;
            width           : 200%;
            height          : 200%;
            top             : -50%;
            left            : -50%;
            background-image: $m-item__deco-background-image;
        }
    }

    &__content {
        padding : $m-item__content-padding;
        position: relative;
        z-index : $m-item__content-z-index;
    }

    &:active,
    &:focus,
    &:hover {
        z-index: 500;

        .m-item__container {
            box-shadow: $m-item__container-box-shadow;
        }
    }
}
