/* _____ NAVIGATION _____ */

// Component variables
$m-navigation__menu--primary-transition: $transition-default;
$m-navigation__menu--primary-max-width-sm: $screen-xs;
$m-navigation__menu--primary-background-sm: rgba($color-blue-dark-primary, 0.75);
$m-navigation__menu--primary-padding-sm: 2.5rem;
$m-navigation__menu--primary-box-shadow-sm: $box-shadow-primary;
$m-navigation__menu--primary-position-top-sm: 10rem;

.m-navigation {
    &--primary {
        @include flex-container(center, center, row, nowrap);
    }

    &__trigger {
        &--primary {
            &:active,
            &:focus {
                & + .m-navigation__menu--primary {
                    opacity   : 1;
                    visibility: visible;
                }
            }
            @media all and (min-width: $screen-md) {
                display: none;
            }
        }
    }

    &__menu {
        &--primary {
            transition: $m-navigation__menu--primary-transition;
            @media all and (max-width: $screen-md) {
                opacity   : 0;
                visibility: hidden;
                width     : 100%;
                height    : 100vh;
                max-width : $m-navigation__menu--primary-max-width-sm;
                background: $m-navigation__menu--primary-background-sm;
                padding   : $m-navigation__menu--primary-padding-sm;
                box-shadow: $m-navigation__menu--primary-box-shadow-sm;
                @include position(fixed, $m-navigation__menu--primary-position-top-sm, initial, 0, 0);
            }
            @media all and (min-width: $screen-md) {
                 @include flex-container(center, center, row, nowrap);
            }
        }
    }
}
