/* _____ LABELS _____ */

// Component variables
$a-label--primary-text-color: $color-white-primary;         //#ecf0f1
$a-label--primary-height: 1.4rem;
$a-label--primary-margin: 0 1.25rem 1.25rem 0;
$a-label--primary-cursor: pointer;
$a-label--primary-font-weight: 300;
$a-label--primary-font-family: $font-ubuntu;
$a-label--primary-font-size: 1.8rem;

.a-label {
    &--primary {
        //...
        //@include flex-container-inline();
    }
}
