/* _____ LOADER _____ */

// Component variables
//background: #ecf0f1 url("../img/loaders/loader--secondary.svg") center center no-repeat
$a-loader-background-color: $color-white-primary;
$a-loader-background-image: '../img/loaders/loader--secondary.svg';
$a-loader-background-image-position-top: center;
$a-loader-transition: $transition-default;
$a-loader-z-index: 500;

.a-loader {
    //...
    //@include position(absolute, 0, 0, 0, 0);

    &--is-invisible {
        opacity   : 0;
        visibility: hidden;
    }
}
