/* _____ PROGRESS _____ */

// Component variables
$a-progress-height: .9375rem;
$a-progress-progress-bar-background: $color-white-primary;
$a-progress-progress-value-background: $color-red-primary;

.a-progress {
    -webkit-appearance: none;
    -moz-appearance   : none;
    cursor            : pointer;
    border            : none;
    height            : $a-progress-height;
    color             : $a-progress-progress-bar-background;

    &[value]::-moz-progress-bar,
    &[value]::-webkit-progress-bar {
        background: $a-progress-progress-bar-background;
    }

    &[value]::-webkit-progress-value {
        background: $a-progress-progress-value-background;
    }
}
