/* _____ PARAGRAPH _____ */

// Component variables
$a-paragraph--stand-out-text-color: $color-blue-dark-primary;
$a-paragraph--stand-out-line-height: 3.2rem;
$a-paragraph--stand-out-font-family: $font-ubuntu;
$a-paragraph--stand-out-font-size: 2.7rem;
$a-paragraph--stand-out-font-weight: 300;

$a-paragraph--tertiary-text-color: rgba($color-blue-dark-primary, 0.75);    //rgba(44, 62, 80, 0.75)
$a-paragraph--tertiary-line-height: 100%;
$a-paragraph--tertiary-margin: 0 0 1.25rem;
$a-paragraph--tertiary-text-transform: capitalize;
$a-paragraph--tertiary-font-family: $font-cabin;
$a-paragraph--tertiary-font-size: 1.4rem;
$a-paragraph--tertiary-font-weight: 400;

$a-paragraph--blend-text-color: rgba($color-blue-dark-primary, 0.5);
$a-paragraph--blend-line-height: 140%;
$a-paragraph--blend-margin: 0;
$a-paragraph--blend-padding: 0;
$a-paragraph--blend-font-family: $font-cabin;
$a-paragraph--blend-font-size: 1.6rem;
$a-paragraph--blend-font-weight: 400;

$a-paragraph--primary-text-color: $color-blue-dark-primary;                     //#2c3e50
$a-paragraph--primary-line-height: 1.7rem;
$a-paragraph--primary-margin: 0;
$a-paragraph--primary-font-family: $font-cabin;
$a-paragraph--primary-font-size: 1.4rem;
$a-paragraph--primary-font-weight: 400;

$a-paragraph--secondary-text-color: $color-white-primary;                       //#ecf0f1
$a-paragraph--secondary-line-height: 125%;
$a-paragraph--secondary-margin: 0 0 1.875rem;
$a-paragraph--secondary-font-family: $font-ubuntu;
$a-paragraph--secondary-font-size: 2.4rem;
$a-paragraph--secondary-font-weight: 400;

$a-paragraph--watermark-text-color: rgba($color-blue-dark-primary, 0.25);     //rgba(44, 62, 80, 0.25)
$a-paragraph--watermark-line-height: 140%;
$a-paragraph--watermark-margin: 0;
$a-paragraph--watermark-padding: 5rem;
$a-paragraph--watermark-text-align : center;
$a-paragraph--watermark-font-family: $font-cabin;
$a-paragraph--watermark-font-size: 5rem;
$a-paragraph--watermark-font-weight: 400;

.a-paragraph {

    &--primary {
        //...
    }

    &--secondary {
        //...
    }

    &--watermark {
        //...
        //@include flex-container();
        //@include column-span(all);
    }

    &--stand-out {
        color      : $a-paragraph--stand-out-text-color;
        line-height: $a-paragraph--stand-out-line-height;
        font       : {
            family: $a-paragraph--stand-out-font-family;
            size  : $a-paragraph--stand-out-font-size;
            weight: $a-paragraph--stand-out-font-weight;
        }
    }

    &--tertiary {
        //...
    }

    &--blend {
        color      : $a-paragraph--blend-text-color;
        line-height: $a-paragraph--blend-line-height;
        margin     : $a-paragraph--blend-margin;
        padding    : $a-paragraph--blend-padding;
        text-align : center;
        font       : {
            family: $a-paragraph--blend-font-family;
            size  : $a-paragraph--blend-font-size;
            weight: $a-paragraph--blend-font-weight;
        }
    }
}
