/* _____ TITLE _____ */

// Component variables
$a-title--stand-out-text-color: $color-blue-primary;
$a-title--stand-out-line-height: 4.3rem;
$a-title--stand-out-margin: 0 0 2.5rem;
$a-title--stand-out-font-family: $font-ubuntu;
$a-title--stand-out-font-size: 3.6rem;
$a-title--stand-out-font-weight: 500;

$a-title--primary-text-color: $color-blue-dark-primary;
$a-title--primary-line-height: 4.3rem;
$a-title--primary-margin: 5rem 0 2.5rem;
$a-title--primary-font-family: $font-ubuntu;
$a-title--primary-font-size: 3.6rem;
$a-title--primary-font-weight: 500;

$a-title--secondary-text-color: $color-blue-dark-primary;
$a-title--secondary-line-height: 3.0rem;
$a-title--secondary-margin: 0 0 .625rem;
$a-title--secondary-font-family: $font-cabin;
$a-title--secondary-font-size: 2.4rem;
$a-title--secondary-font-weight: 400;

.a-title {
    &--stand-out {
        color      : $a-title--stand-out-text-color;
        line-height: $a-title--stand-out-line-height;
        margin     : $a-title--stand-out-margin;
        font       : {
            family: $a-title--stand-out-font-family;
            size  : $a-title--stand-out-font-size;
            weight: $a-title--stand-out-font-weight;
        }
    }

    &--primary {
        text-align : center;
        color      : $a-title--primary-text-color;
        line-height: $a-title--primary-line-height;
        margin     : $a-title--primary-margin;
        font       : {
            family: $a-title--primary-font-family;
            size  : $a-title--primary-font-size;
            weight: $a-title--primary-font-weight;
        }
    }

    &--secondary {
        color      : $a-title--secondary-text-color;
        line-height: $a-title--secondary-line-height;
        margin     : $a-title--secondary-margin;
        text-align : center;
        font       : {
            family: $a-title--secondary-font-family;
            size  : $a-title--secondary-font-size;
            weight: $a-title--secondary-font-weight;
        }
    }
}
